@keyframes zoomInOut {
    0% {
      transform: scale(1) translateX(0);
    }
    50% {
      transform: scale(1.1) translateX(15px);
    }
    100% {
      transform: scale(1) translateX(0);
      
    }
  }
  
  .zoomInOut {
    animation-name: zoomInOut;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .none{
    /* animation-name: zoomInOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out; */
    /* animation-iteration-count: ; */
  }