/* CSS 코드 */
.largeText {
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 0.5s steps(40, end);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .smallText{
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    animation: appear 0.3s ease
  }

 @keyframes appear {
  from {
    transform: translateY(-35px);
  }
  to{
    transform: translateY(0px);
  }
}
 
.none{}